@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Poppins:ital,wght@0,200;1,200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&family=Noto+Sans&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','montserret',sans-serif;
}
:root{
    --orange:#ff8d13;
    --Yellow: rgb(255 199 0);
    --yellow-d-1:#a7ad46;
    --light:#f5f5f5;
    --grey:#aaa;
    --background: rgb(32, 32, 32);
    --shadow:.5rem .5rem .5rem rgba(5, 5, 5, 0.795);
}

.body{
    background: rgb(26, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    background: var(--background);
    padding: 2rem;
    max-width: 576px;
    width: 100%;
    border-radius: .75rem;
    box-shadow: var(--shadow);
    text-align: center;

}
.wrapper h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: rgb(255 199 0);

}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2rem;
    color: var(--orange);
    margin-bottom: 2rem;
}
.rating .star{
    cursor: pointer;
}
.rating .star.active{
    opacity: 0;
    animation: animate .5s ease-in-out forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);        
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.rating .star:hover{
    transform: scale(1.1);

}
textarea{
    width: 100%;
    background: var(--light);
    padding: 1rem;
    border-radius: .75rem;
    border: none;
    outline: none;
    resize: none;
    margin-bottom: 2rem;
}
.btn-group{
    display: flex;
    grid-gap: .5rem;
    align-items: center;
    
}
.btn-group .btn{
    padding: .75rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}
.btn-group .btn.submit{
    background: var(--Yellow);
    color: var(--white);
}
.btn-group .btn.submit:hover{
    background-color: var(--yellow-d-1);

}
.btn-group .btn.cancel{
    background: var(--light);
    color: var(--blue);
}
.btn-group .btn.cancel:hover{
    background: var(--Yellow);

}
/* Footer Section  */

.container-0{
	max-width: 1270px;
	margin:auto;
}
.row-0{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
	/* padding-top: 40px; */
}
li{
	/* color: white; */
color:	#bbbbbb;
}
li.hover{
	color: rgb(240, 240, 110)  ;
}
.footer{
	background-color:  rgb(44, 44, 44) ;
    padding: 70px 0;
}
.footer-col{
   width: 18%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(255 199 0) ;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	/* color: #ffffff; */
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	/* color: #ffffff; */
	padding-left: 8px;
	color: rgb(240, 240, 110) ;


}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color:  rgb(240, 240, 110);
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* Nav Bar CSS */

.main-menu {
    display: flex;
    width: fit-content;
    width: fit-content;
    align-items: center;
  }
  .navbar {
    width: 100vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;/* 
    position: fixed;
    position: fixed; */
    padding: 0.6rem;
    align-items: center;
    height: 6.3rem;
    background-color: rgb(15, 15, 15);
    z-index: 1;
    top: 0;
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(90, 88, 54);
  }
  .logo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-image: url(/Images/logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1.5px solid rgb(0, 0, 0);
  }
  
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 65%;
    gap: 2.5rem;
    margin-left: 2rem;
  }
  #e-material {
    width: 7rem;
  }
  #about-us {
    width: 7rem;
  }
  .navbar li a {
    color: rgb(255 199 0);
  
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .navbar li a:hover {
    color: rgb(240, 240, 110);
  }
  .navbar li a:active,
  .navbar li a:focus {
    color: rgb(153, 121, 7);
  }
  .drop_down_menu {
    display: none;
  }
  
  .navbar li:hover .drop_down_menu {
    display: block;
    position: absolute;
    backdrop-filter: blur(20px);
    background-color: rgba(17, 17, 17, 0.623);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
    z-index: 1;
    z-index: 1;
  }
  
  .navbar li:hover .drop_down_menu ul {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin-top: 0.5rem;
  }
  .navbar li:hover .drop_down_menu ul li {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .drop_down_menu ul li a:hover,
  .drop_down_menu ul li a:focus {
    text-decoration: underline;
  }
  
  /* Hamburger Menu css  */
  .hamburger_menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger {
    color: rgb(255 199 0);
    font-size: 2rem;
    margin-left: 3rem;
    height: fit-content;
  }
  #secondary_nav {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    height: 15rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10rem;
    left: -95px;
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
    z-index: 1;
  }
  #menu-2 {
    z-index: 1;
  }
  .logo_1 {
    background-image: url(/Images/logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  #drop-down-0 {
    display: none;
  }
  #drop-down-1 {
    display: none;
  }
  .navbar li:hover #drop-down-0 {
    display: flex;
    flex-direction: column;
    left: 11rem;
    top: 4rem;
    border-top-right-radius: 0.5rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(20px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
    z-index: 1;
  }
  .navbar li:hover #drop-down-0 ul {
    display: flex;
    flex-direction: column;
  }
  .navbar li:hover #drop-down-1 {
    left: 11rem;
    top: 7.5rem;
    border-top-right-radius: 0.5rem;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
    z-index: -1;
  }
  .navbar li:hover #drop-down-1 ul {
    display: flex;
    flex-direction: column;
  }
  .btn-0 {
    color: black;
    background-color: rgb(255 199 0);
    height: 2.5rem;
    width: 8rem;
    font-weight: 600;
    border: none;
    outline: none;
    margin-right: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    font-size: 0.8rem;
    transition: .3s ease-in-out;
  }
  .btn-0:hover {
    background-color: rgb(250, 250, 94);
    cursor: pointer;
    width: 9rem;
    font-size: 0.9rem;
  }
/* Navbar responsiveness */
@media (max-width: 880px) {
    .logo {
      height: 3.5rem;
      width: 3.5rem;
    }
  
    .navbar ul {
      gap: 2rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
    .navbar ul li {
      font-size: 0.8rem;
    }
    .drop_down_menu {
      width: 7rem;
    }
    .drop_down_menu ul {
      width: 7rem;
    }
    .drop_down_menu ul li {
      font-size: 0.7rem;
    }
    .btn {
      width: 7rem;
      height: 2rem;
      font-size: 0.7rem;
    }
    .hidden {
      display: none;
    }
    .hamburger_menu {
      display: none;
    }
  }
  @media (min-width: 880px) {
    .hamburger_menu {
      display: none;
    }
    #menu-2 {
      display: none;
    }
  }
  
  @media (max-width: 720px) {
    .main-menu {
      display: none;
    }
    .hamburger_menu {
      display: flex;
    }
    .hidden {
      display: none;
    }
    #menu-2 {
      top: -4rem;
      left: 10rem;
      width: 5rem;
      position: absolute;
    }
  }
  
  @media (max-width: 820px) {
  }
  @media (max-width: 912px) {
    .navbar ul {
      gap: 1.5rem;
      font-size: 0.8rem;
    }
  }
  @media (max-width: 768px) {
    .navbar ul li {
      font-size: 0.6rem;
    }
    .drop_down_menu {
      padding-right: 1rem;
    }
  }
  @media (max-width: 1160px) {
    .search-bar {
      width: 7rem;
    }
    .navbar ul li {
      font-size: 0.8rem;
    }
    #home {
      width: 3rem;
    }
    #e-materail {
      width: 6rem;
    }
    .navbar ul {
      gap: 2rem;
    }
  }
  @media (min-width: 2440px) {
    .searching {
      margin-left: 50rem;
    }
    .search-bar {
      width: 30rem;
    }
  }
  @media (min-width: 1440px) {
    .searching {
      margin-left: 10rem;
    }
  }
  @media (max-width: 980px) {
    .navbar ul {
      gap: 1rem;
    }
  }
  @media (max-width: 850px) {
    .search-bar {
      width: 4rem;
      font-size: 0.6rem;
    }
  }
  @media (max-width: 755px) {
    #e-material {
      width: 6rem;
    }
  }
  @media (max-width: 500px) {
    .searching {
      display: none;
    }
  }