@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Poppins:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&family=Noto+Sans&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'montserret', sans-serif;
}
:root {
  --orange: #ff8d13;
  --Yellow: rgb(255 199 0);
  --yellow-d-1: #a7ad46;
  --light: #f5f5f5;
  --grey: #aaa;
  --background: #fff;
  --shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
}

.body {
  background: (--background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  background: whitesmoke;
  padding: 2rem;

  max-width: 576px;
  width: 100%;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  text-align: center;
}
.wrapper h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: black;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  font-size: 2rem;
  color: var(--orange);
  margin-bottom: 2rem;
}
.rating .star {
  cursor: pointer;
}
.rating .star.active {
  opacity: 0;
  animation: animate 0.5s ease-in-out forwards;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.rating .star:hover {
  transform: scale(1.1);
}
textarea {
  width: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.75rem;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: 2rem;
  border: 1px solid grey;
}
.btn-group {
  display: flex;
  grid-gap: 0.5rem;
  align-items: center;
}
.btn-group .btn {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}
.btn-group .btn.submit {
  background: #fff;
  color: black;
  border: 2px solid yellow;
}
.btn-group .btn.submit:hover {
  background-color: yellow;
}
.btn-group .btn.cancel {
  background: yellow;
  color: black;
}
.btn-group .btn.cancel:hover {
  background-color: #fff;
  border: 2px solid yellow;
}
/* Footer Section  */

.container-0 {
  max-width: 1270px;
  margin: auto;
}
.row-0 {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
  /* padding-top: 40px; */
}
li {
  /* color: white; */
  color: #bbbbbb;
}
li.hover {
  color: rgb(240, 240, 110);
}
.footer {
  background-color: rgb(44, 44, 44);
  padding: 70px 0;
}
.footer-col {
  width: 18%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(255 199 0);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  /* color: #ffffff; */
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  /* color: #ffffff; */
  padding-left: 8px;
  color: rgb(240, 240, 110);
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: rgb(240, 240, 110);
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* Nav Bar CSS */

.main {
  width: 70%;
  display: flex;
  align-items: center; /* 
  justify-content: center; */
  gap: 5rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  position: fixed;
  padding: 0.6rem;
  align-items: center;
  height: 6rem;
  background-color: #fff;
  z-index: 1;
  top: 0;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.575);
}

.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-image: url(/Images/logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar .Navigation-items {
  display: flex;
  list-style: none;
  width: 65%;
  gap: 1rem;
  position: relative;
  right: 3rem;
}
#e-material {
  width: 8rem;
}
#about-us {
  width: 7rem;
}
.navbar li a {
  color: black;
  padding: 0 0.7rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar li a:hover {
  background-color: yellow;
}
.navbar li a:active,
.navbar li a:focus {
  text-decoration: underline;
}
.drop_down_menu {
  display: none;
}

.navbar li:hover .drop_down_menu {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
  width: 12rem;
  z-index: 1;
}

.navbar li:hover .drop_down_menu ul {
  display: flex;

  /* 
  justify-content: center; */
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.navbar li:hover .drop_down_menu ul li {
  /* width: 100%; */

  margin-bottom: 0.5rem;
}
.drop_down_menu ul li a:hover,
.drop_down_menu ul li a:focus {
  text-decoration: underline;
}
.drop_down_menu ul li a {
  border-radius: 2rem;
  width: fit-content;
}

/* Hamburger Menu css  */
.hamburger_menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger {
  color: black;
  font-size: 2rem;
  margin-left: 3rem;
  height: fit-content;
  margin-right: 5rem;
}
#secondary_nav {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 25rem;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 9rem;
  width: 15rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
  z-index: 1;
}
#menu-2 {
  z-index: 1;
}
.logo_1 {
  background-image: url(/Images/brain\ bytes\ logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#drop-down-0 {
  display: none;
}
#drop-down-1 {
  display: none;
}
.navbar li:hover #drop-down-0 {
  display: flex;
  flex-direction: column;
  left: 13rem;
  top: 7rem;
  width: 12rem;
  border-top-right-radius: 0.5rem;
  position: absolute;
  background-color: #fff;
  backdrop-filter: blur(20px);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
  z-index: 1;
}
.navbar li:hover #drop-down-0 ul {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 1rem;
}
.navbar li:hover #drop-down-1 {
  left: 13rem;
  top: 11rem;
  width: 12rem;
  border-top-right-radius: 0.5rem;
  display: block;
  position: absolute;
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
  z-index: -1;
}
.navbar li:hover #drop-down-1 ul {
  display: flex;
  flex-direction: column;
}
.btn-0 {
  color: black;
  background-color: #fff;
  height: 2.5rem;
  width: 10rem;
  font-weight: 600;
  border: 2px solid yellow;
  outline: none;
  margin-right: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.btn-0:hover {
  background-color: yellow;
  cursor: pointer;
  text-decoration: underline;
  border: none;
}
/* Navbar responsiveness */
@media (max-width: 880px) {
  .logo {
    height: 3.5rem;
    width: 3.5rem;
  }

  .navbar ul {
    gap: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .navbar ul li {
    font-size: 0.8rem;
  }
  .drop_down_menu {
    width: 7rem;
  }
  .drop_down_menu ul {
    width: 7rem;
  }
  .drop_down_menu ul li {
    font-size: 0.7rem;
  }
  .btn {
    width: 7rem;
    height: 2rem;
    font-size: 0.7rem;
  }
  .hidden {
    display: none;
  }
  .hamburger_menu {
    display: none;
  }
}
@media (min-width: 880px) {
  .hamburger_menu {
    display: none;
  }
  .hidden {
    display: none;
  }
}

@media (max-width: 920px) {
  .main {
    display: none;
  }
  .hamburger_menu {
    display: flex;
  }

  /* .hidden {
    display: none;
  } */
  #menu-2 {
    top: -4rem;
    left: 10rem;
    width: 5rem;
    position: absolute;
  }
}
@media (min-width: 920px) {
  .hamburger_menu {
    display: none;
  }
  #secondary_nav {
    display: none;
  }
}

@media (max-width: 912px) {
  .navbar ul {
    gap: 1.5rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .navbar ul li {
    font-size: 0.6rem;
  }
  .drop_down_menu {
    padding-right: 1rem;
  }
}
/* @media (max-width: 1160px) {
  .search-bar {
    width: 7rem;
  }
  .navbar ul li {
    font-size: 0.8rem;
  }
  #home {
    width: 3rem;
  }
  #e-materail {
    width: 6rem;
  }
  .navbar ul {
    gap: 2rem;
  }
} */
/* @media (min-width: 2440px) {
  .searching {
    margin-left: 50rem;
  }
  .search-bar {
    width: 30rem;
  }
}
@media (min-width: 1440px) {
  .searching {
    margin-left: 10rem;
  }
} */
@media (max-width: 980px) {
  .navbar ul {
    gap: 1rem;
  }
}

@media (max-width: 755px) {
  #e-material {
    width: 6rem;
  }
}
@media (max-width: 1024px) {
  .Navigation-items {
    gap: 0.5rem;
  }
  .main {
    gap: 4rem;
  }
}
