@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&family=Noto+Sans&family=Overpass:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');
/* About us Section starts here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: rgb(255, 199, 0);
  font-family: 'Poppins', sans-serif;
  max-height: 100vh;
  max-width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 14px;
  line-height: 1.85em;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}
/* Nav Bar starts here  */

.main {
  width: 100%;
  display: flex;
  align-items: center; /* 
  justify-content: center; */
  gap: 5rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  position: fixed;
  padding: 0.6rem;
  align-items: center;
  height: 6.3rem;
  background-color: #fff;
  z-index: 1;
  top: 0;
  font-size: 0.9rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.575);
}

.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-image: url(/Images/logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar .Navigation-items {
  display: flex;
  list-style: none;
  width: 65%;
  gap: 2rem;
  position: relative;
  right: 3rem;
}
#e-material {
  width: 8rem;
}
#about-us {
  width: 7rem;
}
.navbar li a {
  color: black;
  padding: 0 0.7rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar li a:hover {
  background-color: yellow;
}
.navbar li a:active,
.navbar li a:focus {
  text-decoration: underline;
}
.drop_down_menu {
  display: none;
}

.navbar li:hover .drop_down_menu {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
  width: 12rem;
  z-index: 1;
}

.navbar li:hover .drop_down_menu ul {
  display: flex;

  /* 
  justify-content: center; */
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.navbar li:hover .drop_down_menu ul li {
  /* width: 100%; */

  margin-bottom: 0.5rem;
}
.drop_down_menu ul li a:hover,
.drop_down_menu ul li a:focus {
  text-decoration: underline;
}
.drop_down_menu ul li a {
  border-radius: 2rem;
  width: fit-content;
}

/* Hamburger Menu css  */
.hamburger_menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger {
  color: black;
  font-size: 2rem;
  margin-left: 3rem;
  height: fit-content;
  margin-right: 5rem;
}
#secondary_nav {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 25rem;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 8rem;
  left: -95px;
  width: 15rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
  z-index: 1;
}
#menu-2 {
  z-index: 1;
}
.logo_1 {
  background-image: url(/Images/brain\ bytes\ logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#drop-down-0 {
  display: none;
}
#drop-down-1 {
  display: none;
}
.navbar li:hover #drop-down-0 {
  display: flex;
  flex-direction: column;
  left: 11rem;
  top: 4rem;
  width: 12rem;
  border-top-right-radius: 0.5rem;
  position: absolute;
  background-color: #fff;
  backdrop-filter: blur(20px);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
  z-index: 1;
}
.navbar li:hover #drop-down-0 ul {
  display: flex;
  flex-direction: column;
}
.navbar li:hover #drop-down-1 {
  left: 11rem;
  top: 7.5rem;
  width: 12rem;
  border-top-right-radius: 0.5rem;
  display: block;
  position: absolute;
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(36, 35, 35);
  z-index: -1;
}
.navbar li:hover #drop-down-1 ul {
  display: flex;
  flex-direction: column;
}
.btn-0 {
  color: black;
  background-color: #fff;
  height: 2.5rem;
  width: 10rem;
  font-weight: 600;
  border: 2px solid yellow;
  outline: none;
  margin-right: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.btn-0:hover {
  background-color: yellow;
  cursor: pointer;
  text-decoration: underline;
  border: none;
}

/* Search Bar CSS  */
/* .searching {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.search-bar {
  height: 2rem;
  width: 10rem;
  border: 2px solid rgb(255 199 0);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
  font-weight: 600;
  font-style: italic;
}
.searching button {
  height: 2rem;
  width: 2.5rem;
  background-color: rgb(15, 15, 15);
  outline: none;
  border: 2px solid rgb(255 199 0);
  color: rgb(255 199 0);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
 */
/* About section starts here  */

.content h1 {
  font-size: 32px;
  text-align: left;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: 600;
  font-size: 2rem;
}

.content p {
  line-height: 1.5;
  margin-bottom: 20px;
  color: rgb(80, 78, 78);
  font-weight: 500;
}

a {
  color: rgb(255, 199, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(83, 83, 25);
}

a:active,
a:focus {
  color: rgb(153, 121, 7);
}

.container {
  width: 100%;
  margin: 7rem auto;
  padding: 40px;
  background-color: #fff;
  color: Black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picture {
  width: 60vh;
  height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1504593811423-6dd665756598?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4rem;
  align-self: center;
}
.content-item {
  width: 60%;
  margin: 1rem;
}
.content {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(51, 48, 48, 0.5);
}

.heading {
  width: 100%;
  height: fit-content;
  font-size: 3rem;
  text-align: center;
  color: black;
}
/* Slider starts here  */

.slider-0 {
  width: 100%;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
}

.slide-item {
  flex: 0 0 30%;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.719);
}

.slide-item img {
  max-width: 100%;
  height: auto;
}

.slide-item h3 {
  margin-top: 10px;
  color: black;
  font-weight: 400;
}

.slide-item p {
  margin-top: 10px;
  font-size: 14px;
  color: black;
}

.slider-btn {
  /* 
  position: ; */
  /* top: 50%; */
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(68, 68, 68, 0.5);
  color: rgb(255, 199, 0);
  text-align: center;
  line-height: 30px;
  font-size: 32px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-btn.left {
  margin-right: 1rem;
}

.slider-buttons {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 2rem;
}
